<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moefilm.web.mapper.AlbumMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moefilm.web.model.Album">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="album_title" property="albumTitle" />
        <result column="album_desc" property="albumDesc" />
        <result column="photos_count" property="photosCount" />
        <result column="status" property="status" />
        <result column="cover" property="cover" />
        <result column="album_tags" property="albumTags" />
        <result column="create_ts" property="createTs" />
        <result column="last_add_ts" property="lastAddTs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, album_title AS albumTitle, album_desc AS albumDesc, photos_count AS photosCount, status, cover,
        album_tags AS albumTags, create_ts AS createTs, last_add_ts AS lastAddTs
    </sql>
</mapper>