<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moefilm.web.mapper.FollowingMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.moefilm.web.model.Following">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="following_user_id" property="followingUserId" />
		<result column="following_user_name" property="followingUserName" />
		<result column="ts" property="ts" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, user_name AS userName, following_user_id AS followingUserId, following_user_name AS followingUserName, ts
    </sql>

</mapper>
