<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moefilm.web.mapper.LikeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.moefilm.web.model.Like">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="object_type" property="objectType" />
		<result column="object_id" property="objectId" />
		<result column="ts" property="ts" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, object_type AS objectType, object_id AS objectId, ts
    </sql>

</mapper>
